.deleteButton{
    color: white;
    background-color:rgb(237, 47, 60);
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
    margin-top: 50px;
}
