.title5{
    background-color: white;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    color: black;
    margin-bottom: 5px;  
    font-family: "Segoe UI" sans-serif;
}


.cardStub{
    background: none;
    color: rgba(0, 0, 0, 0.5);
    border: gray 1px solid;
}


.taskbacklog{
    box-shadow: -5px 0px 0px 0px rgb(111,109,114);  
}
.taskinProcess {
    box-shadow: -5px 0px 0px 0px rgb(27,131,238);  
}
.taskdone{
    box-shadow: -5px 0px 0px 0px rgb(104,188,128);  
}
.taskbin{
    box-shadow: -5px 0px 0px 0px rgb(205,117,127);  
}
